<div class="chat-component">
  <div class="chat-message-area">
    <chat-message [isUser]="msg.isUser" *ngFor="let msg of messages">{{ (msg.isUser ? "Yes ": "No ") + msg.message }}</chat-message>
  </div>
  <div class="message-area">
    <mat-form-field style="width: 98%">
      <input matInput (keypress)="checkForEnter($event)" [(ngModel)]="message" placeholder="Type in your message" name="name">
      <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
    </mat-form-field>
  </div>
</div>