.main-title {
  padding: 15px 5px 0px;
  text-align: center;
}
mat-form-field {
  margin: auto;
  width: 80%;
  max-width: 400px;
  display: block; 
}
.container {
  max-width: 400px;
  margin: auto;
}