<div class="create-event">
  <mat-progress-bar *ngIf="isCreating" mode="query"></mat-progress-bar>
  <h2 class="mat-title main-title">CREATING A NEW EVENT</h2>
  <form #newEvent="ngForm">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Event Details</ng-template>
        <div class="container">
          <mat-form-field>
            <input matInput placeholder="Name of event" name="name" [(ngModel)]="newEvent.name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tagline" name="tagline" [(ngModel)]="newEvent.tagline" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Imageurl" name="imageUrl" [(ngModel)]="newEvent.imageUrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Location" name="location" [(ngModel)]="newEvent.location" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" name="description" [(ngModel)]="newEvent.description" required></textarea>
          </mat-form-field>
          <div>
            <button style="float: right;" mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Event Date and Time</ng-template>
        <div class="container">
          <mat-form-field>
            <input matInput [min]="dateToday" [ngModel]="newEvent.startDate" name="startDate" [matDatepicker]="startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput appTimeValidator="ted" [ngModel]="newEvent.startTime" name="startTime" placeholder="Start Time hh:mm">
          </mat-form-field>
          <mat-form-field>
            <input matInput appTimeValidator="ted" [ngModel]="newEvent.endTime" name="endTime" placeholder="End Time hh:mm">
          </mat-form-field>
          <div class="justify-space-between">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="createEvent">Create Event</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>