<div class="create-event">
  <div class="container">
    <h2>CREATING A NEW EVENT</h2>
    <form #newEvent="ngForm">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Event Details</ng-template>
          <mat-form-field>
            <input matInput placeholder="Name of event" name="tagline" [(ngModel)]="newEvent.tagline" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tagline" name="tagline" [(ngModel)]="newEvent.tagline" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Imgaeurl" name="imageUrl" [(ngModel)]="newEvent.imageUrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Location" name="location" [(ngModel)]="newEvent.location" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" name="description" [(ngModel)]="newEvent.description" required></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Event Speakers</ng-template>
          <mat-form-field>
            <input matInput placeholder="Speaker" name="speaker" [(ngModel)]="newEvent.speaker" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Speaker" name="speaker1" [(ngModel)]="newEvent.speaker1" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Event Date and Time</ng-template>
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>