<div class="profile-page">
  <div class="profile-image">
    <img src="http://stuffpoint.com/imvu/image/341920-imvu-stylish-avatar.png" alt="">
  </div>
  <div class="form">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Ashinze Ekene
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Social 
          </mat-panel-title>
          <mat-panel-description>
            Your social IDS
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <input matInput placeholder="github username">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <input matInput placeholder="twitter username">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <input matInput placeholder="facebook username">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <input matInput placeholder="website/portfolio">
        </mat-form-field>
      </mat-expansion-panel>
      <button mat-raised-button class="m-1" color="primary">Save</button>
    </mat-accordion>

  </div>
</div>