.profile-image {
  width: 80%;
  padding-bottom: 80%;
  margin: 10px auto;
  height: 0;
  position: relative;
}
.profile-image img {
  border-radius: 50%; 
  height: 100%;
  width: 100%;
  position: absolute;
}
.container {
  max-width: 400px;
  margin: auto;
}
.full-width {
  width: 100%;
}
.m-1 {
  margin: 10px
}
.user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-form > * {
  width: 99%;
}