<div class="profile-page">
  <div class="container">
    <div class="profile-image">
      <img [src]="user.photoURL" alt="">
    </div>
    <div class="user-form">
      <mat-form-field>
        <input matInput [(ngModel)]="user.displayName" placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="user.githubUsername" placeholder="Github username">
      </mat-form-field>

      <mat-form-field>
        <input type='tel' matInput [(ngModel)]="user.phone" placeholder="Phone number">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="user.twitterUsername" placeholder="Twitter username">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="user.facebookUsername" placeholder="Facebook username">
      </mat-form-field>

      <mat-form-field>
        <input type="url" matInput [(ngModel)]="user.website" placeholder="Website/portfolio">
      </mat-form-field>
      <button mat-raised-button class="m-1" (click)="updateProfile()" color="primary">SAVE</button>
    </div>
  </div>
</div>